.tmp/
.ipython/
.jupyter_config/
.jupyter_data/
.jupyter_runtime/
__pycache__/
*.py[cod]

Final Project GJuradoC.py
Project P1 GJuradoC.docx
Project Requirements.txt
Student_performance_data.csv
StudyTimeWeekly_vs_GradeClass.png
actual_vs_predicted_gradeclass.png
prompt.txt
